<!-- <!DOCTYPE HTML>
{% load staticfiles %}
<html> 
    <head>
	<title>Django</title>
    </head>



    <body>
    	<h2> Names of Webpages:  </h2>
    	<div class= "webpage_names">
        {% if names %}

    		<table>
    			<thead>
                    Webpage Name
                </thead>


    			{% for n in names %}
    			<tr>
    				<td>{{n.name}}</td>
    			</tr>
    			{% endfor %}




    		</table>
    	{% else %}
        <p>No name</p>
        {% endif %}





    	</div>
    

    </body>



</html
 -->


 <!DOCTYPE html>
 <html>
 <head>
     <title>Title Page</title>
 </head>
 <body>
  <h1>Main Page</h1>
  <h2>Go to form Page</h2>
 
 </body>
 </html>